<% if (typeof task=='undefined' ) { task='' } %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo</title>
        <link href="/public/style.css" rel="stylesheet">
    </head>

    <body>
        <h1>Todo</h1>

        <form method="post" action="/edit/<%= id %>">
            <input name="todo_item" value="<%= task %>">
            <input type="submit" value="Save">
        </form>
    </body>

    </html>