<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count</title>
</head>

<body>
    <h1>Count</h1>
    <form action="/" method="get">
        Enter a number:
        <input type="number" min="0" max="100" name="count_value" value="<%= number %>">
        <input type="submit" value="Send">
    </form>

    <% for (let i=1; i <=number; i++) { %>
        <%= i %>...
            <% } %>

</body>

</html>