<h1 class="h3 mb-3 fw-normal">Welcome</h1>

<p>Create an account or login if you already have one!</p>

<p>
  <a href="/users/register" class="btn btn-secondary">Register</a>
  <a href="/users/login" class="btn btn-primary">Login</a>
</p>
