<div class="contact-form">
    <form method="post" action="/send-message">
        Name:<br>
        <input name="sender_name"><br>
        Message:<br>
        <textarea name="message"></textarea><br>
        <input type="submit" value="Send">
    </form>
</div>