<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Multer</title>
  </head>
  <body>
    <form
      action="/upload-profile-pic"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="profile_pic" /><br />
      <input type="submit" value="Save" />
    </form>
    <form action="/photos" method="post" enctype="multipart/form-data">
      <input type="file" name="photos" multiple /><br />
      <input type="submit" value="Save" />
    </form>
  </body>
</html>
