<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <table>
      <tr>
        <th>EmployeeNo</th>
        <th>Name</th>
      </tr>

      <% for (user of users) { %>
      <tr>
        <td><%= user.employeeNumber %></td>
        <td>
          <a href="mailto:<%= user.email %>"
            ><%= user.firstName %> <%= user.lastName %></a
          >
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
